random_file.csv
Raw_Data_Alt/
min_pts_storage_boot/
min_pts_storage.csv
Anomalous_Emissions.csv
windowed_data.RData
other_windowed_subset.RData
Anomaly_Analysis_Plots/Iteration_*
Anomalous_Emisssions_Results/Anomalous_*
Anomalous_Emissions_Results/
.Rhistory
anomalous_emissions_boot/
txdot_roadways/
SIBaR_Errors/
Miscellaneous_Figures/
one_half_percentage_diffs.csv
two_thirds_percentage_diffs.csv
code_execution.R
Manually_Flagged_Anomalies/
Algorithm_Validation_Data/
Algorithm_Validation_Data.zip
valid_data.RData
distance_diffs_experiment.R
DBSCAN_Testing.R
df_Houston_50_90m.csv
mobile_polygons_20m_buffer.kml
Houston_Shape_Files/
